<p id="notice"><%= notice %></p>

<h1>All the Lists</h1>
<table class='table table-bordered'>
    <tr>
        <th>description</th>
        <th>completed</th>
        <th>Status</th>
    </tr>
    <% @lists.each do |list| %>
    <tr class="<%=  completed?(list)%>">
        <%= render 'shared/actions_each_todo_item', list: list%>
    </tr>
        
<% end %>
    
</table>

<br />
 
<%= link_to 'Add Todo Item', new_list_path, class: 'btn btn-primary' %>
